<div *ngIf="dataLoaded==false" class="spinner-border text-secondary" role="status">
    <span class="visually-hidden"> </span>
</div>
  
<ul *ngIf="dataLoaded==true" class="list-group">
  <div class="form-row align-items-center">
    <div class="col-md-12">
      <label class="mr-sm-2" for="inlineFormCustomSelect" style="font-weight: 700;"> Brands </label>
      <input
      [(ngModel)]="brandFilterText"
      type="text"
      class="form-control"
      id="brandFilterText"
      style="margin-bottom: 10px;"
      placeholder="Brand Search"
    />
      <select class="custom-select custom-select-md mb-3" id="inlineFormCustomSelect" style="width: 250px;">
        <option
          (click)="setCurrentBrand(brand)"
          routerLink="/cars/brand/{{brand.brandId}}"
          *ngFor="let brand of brands | brandFilter:brandFilterText"
          [class]="getCurrentBrandClass(brand)"
        >
        {{ brand.brandName }}
        </option>
        <option [class]="getAllBrandClass()" routerLink="/cars">View All </option>
      </select>
    </div>
  </div>
</ul>