<div *ngIf="dataLoaded==false" class="spinner-border text-secondary" role="status">
    <span class="visually-hidden"> </span>
</div>

<div class="form-group">
    <input
      [(ngModel)]="carFilterText"
      type="text"
      class="form-control"
      id="carFilterText"
      placeholder="Search for cars"
    />
    <small id="emailHelp" class="form-text text-muted"></small>
  </div>
  <div *ngIf="carFilterText.length > 2" class="alert alert-primary">
    Search Key: {{ carFilterText }}
  </div>
  
  <div class="row">
    <div class="col-md-5">
      <label class="mr-sm-2" for="inlineFormCustomSelect"> Brands </label>
      <select class="custom-select custom-select-md mb-3" [(ngModel)]="brandId">
        <option selected>All Brands</option>
        <option
          [value]="brand.brandId"
          *ngFor="let brand of brands"
          [selected]="getSelectedBrandId(brand.brandId)"
        >
          {{ brand.brandName }}
        </option>
      </select>
    </div>
    <div class="col-md-5">
      <label class="mr-sm-2" for="inlineFormCustomSelect"> Colors </label>
      <select class="custom-select custom-select-md mb-3" [(ngModel)]="colorId" aria-placeholder="All Colors">
        <option
          *ngFor="let color of colors"
          [value]="color.colorId"
          [selected]="getSelectedColorId(color.colorId)"
        >
          {{ color.colorName }}
        </option>
      </select>
    </div>
    <div class="col-md-2" style="margin-top: 30px; width: 100px">
      <button
        class="btn btn-success"
        routerLink="/cars/filter/{{ brandId }}/{{ colorId }}"
      >
        Filter
      </button>
    </div>
  </div>

<table *ngIf="dataLoaded==true" class="table">
    <thead>
        <tr>
            <th>Car Id</th>
            <th>Brand</th>
            <th>Color</th>
            <th>Price</th>
            <th>Model Year</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let car of cars | carFilter:carFilterText">
            <td>{{car.carId}}</td>
            <td>{{car.brandName}}</td>
            <td>{{car.colorName}}</td>
            <td>{{car.dailyPrice | currency : "TL":true}}</td>
            <td>{{car.modelYear}}</td>
            <td>{{car.description}}</td>
            <td>
        </tr> 
    </tbody>
</table>
